body {
    background-color: antiquewhite;
    
    
}

html {
    scroll-behavior: smooth;
}

.topo {
    
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    margin-right: 40px;
    cursor: pointer;
}

img{
    display: block;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}



header {
    background: url(https://lh3.googleusercontent.com/rd-gg/AMW1TPqQtJrU6nOj5ISZ2rbYjG1h7ziThJ8OwxwyZMjvEfqGpjCaZkQCGzP4jhIB-XieLY8NKao_NoJlld-3Voxc084EAVHaqk17LtKSRWa9RH7AfLLBod_-zwOezou4467lhCZ-OaIC5kE1wyujdJez446mu3gS-DmDpikuYOyJ8XBY2bzQMpQqs32uBkGzz4WE9AFzGZar0KN3CoAA-LbgWXcisy-RXVfMfLtzfVnbIxyx7cuv-PGpzaE46ON3k1W6wYRI13AZmydDv8DTaGCDwry3qhUBy6Od87tDKGEioTYatV4fvmgJrEN0uDQxkcF7Y2g8Ge7J_a-CBrO2yEpMfE0i2u2H5DuuO14A9Fb4qI-DALVLSsVuMYrF1m70B3GFbJC3m_bErt6eDOgkN3yb9GTP3T9waFlsiETlNyFikeiugDSvOcYiMi74BazRPWKMP3mGhvdjOW4Ws0SbqoTVkJ4qEPvU6Oscy4xs8LOQ9qkqmJZhURUntzre7eapgrabcBgCmjdT-uaXaQWmdgGs9z5XTbapX_0FhsPLOvA7qHPUwGlgq906y_pLutox8gX62aaVlh2n1-7P2b7ASBsK_VXKzUdc50uEpBIAGOsxD_9HtPJrrpAwQme865NbyieKn_VUX0wy_eRzjDTlB-rmpshfQWwHCwUlwtlclH-X6QQDh3tM3IpTo9NIxLybnXSUs26-6LMfQhsWBbJJ0VBXzaPNPnXNhsCOQhruslXHzwhSRdez1CN_0DV_PBon9gUXHRADhI-kX2LMNDexZZd2Vd2XRt46O_JFdQLAfDSgPPtXOE71dFYBBS_7xFv0vekm2pzc0W3NvmG5dx4jT6eg0igRKeOF5V61_haSwQ2nZ1ZN0e8coBTbrFSs0_nqVqsqF1nomi-ZXZflFwWPlS-0qfQhyv-lhuDmJdgxeXATbCM2-Iji_g2_GNINBLApm858zgNpu4pVLcoCSM8FA_fNXkFMMqLtaY8ZbGzafs1NvjWVIi-pPl6qKrLNirQWxyJCdGR4CKQq1FFuVAi82TaIFGdhHAlIpzKBSzvjybwUZCXV6i7n0JJeioRH74K6ZXiACB9XkJPuMN7w5Ug-gD3oU_seBMjWukXbrKy6t_WhksO5OTWBKkMYAYzWFPWreizGm0O-R9KaQwAtuGVgA4fgr_dLzHc93uB4QmOHU3gaSog9weYyC_Q7qkBh0PgbuwtIVM4Q5tGG6aH2lpKEd8f__7jNudNMvv4pNEnxSVxbfEnmGKCirvAypjpLTMl-fw3gg2n49jvZxXUytO5MhDBuX6n4N-Si8mE3Wptm3Cno23_SJL31HW59nb3XELyvuByGQdfU7bnXflgMidiJZ4o9ZgzzLb5nCBDba8uhbQA9qs05SuTSsA=s1024-rj) center/cover;
    padding: 150px 0px;
    text-align: center;
    color:rgb(21, 56, 0);
}

h1 {
    font-size: 100px;
    margin: 0;
}

section{
    padding: 30px 20px;
    max-width: 100px;
    margin: auto;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.botao {
    display: flex;
    padding: 10px 20px;
    background-color: rgb(21, 56, 0);
    color: gold;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(110, 204, 110, 0.5);
}

.botao:hover {
    background-color: rgb(216, 187, 23);
    color: rgb(21, 56, 0);

}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.servicos {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;  
}

.card1 {
    background-color: rgb(21, 56, 0);
    color: gold;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    padding: 50px;
    box-shadow: 0px 4px 8px rgba(110, 204, 110, 0.5);
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin: auto;
}

.card1:hover {
    background-color: rgb(48, 102, 16);
    transform: scale(1.1);
}

.container-sobre {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

p {
    text-align: justify;
    font-size: 16px;
    max-width: 600px;
    
}






